@import 'includes/variables';
@import './node_modules/bootstrap/scss/bootstrap.scss';
@import 'includes/bootswatch';

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

.comic-text {
  font-family: "Comic Neue", sans-serif;
}

.grid-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.unlist {
  margin: 0;
  margin-top: 12px;
  padding: 0;
  list-style: none;
}

.hidden {
  display: none;
}

.tags {
  font-size: 1.8rem;
}